body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9999;
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    background-color: rgb(65, 65, 241);
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.button:hover {
    background-color: blue;
}

/* hero */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    position: relative;
    margin-top: 51px;
    background: pink;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    pointer-events: none;
    z-index: 1;
}

.hero .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.hero .content {
    position: relative;
    z-index: 1;
    text-align: center;
}
.hero .content h1 {
    color: seashell;
    font-size: 40px;
    text-align: center;
    max-width: 700px;
    width: 100%;
}

.content form {
    display: inline-block;
}

.content nav {
    display: inline-block;
}

#gmail {
    width: 350px;
    border-radius: 3px;
    height: 30px;
    border: none;
}

.two {
    padding: 6px 30px;
    margin-left: 15px;
}

/* icons */

.icons-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: rgb(247, 247, 247);
}

.icon {
    max-width: 250px;
    width: 100%;
    text-align: center;
}

.icon p {
    color: rgb(146, 145, 145);
}

.icons-grid div:not(:nth-child(1)) {
    margin-left: 70px;
}

/* text-image */


.text-image-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.text p {
    color: rgb(146, 145, 145)
}

.responsive {
    display: flex;
    align-items: center;
    width: 50%;
}
.responsive .text {
    padding: 0 100px; 
}

.img {
    width: 50%;
    max-height: 400px;
    height: 100%;
}

/* testimonials */

.testimonials {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(247, 247, 247);
    padding: 80px 150px 80px 150px;
}

.testimonials h2 {
    /* order: -1; */
    flex: 1 0 100%;
    text-align: center;
    padding-bottom: 15px;
}

.ppl {
    max-width: 300px;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.ppl p {
    color: rgb(146, 145, 145);
}

.ppl-pht {
    max-width: 200px;
    width: 100%;
    max-height: 180px;
    height: 100%;
    border-radius: 50%;
}

/* hero small */

.hero .content h2 {
    color: seashell;
    font-size: 30px;
    text-align: center;
    max-width: 700px;
    width: 100%;
}
.small {
    margin-top: 0;
}

/* footer */

.content2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.info p {
    font-size: 10px;
    color: rgb(146, 145, 145);
    margin-left: 40px;
}

ul {
    display: flex;
    color: rgb(93, 93, 248);
}

ul li {
    margin-right: 30px;
    cursor: pointer;
}

.bullet {
    list-style-type: none;
}

.footer-icons {
    cursor: pointer;
    margin: 15px;
}

